<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国Covid19疫情地图</title>
     <style>
        .centerItem {
            width: 856px;
            height: 640px;
            margin: 110px auto 0 auto;
        }
    </style>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script src="../static/echarts.min.js"></script>
    <script src="../static/china.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="mapChart" class="centerItem"></div>
</body>
</html>

<script type="text/javascript">
     // 基于准备好的dom，初始化echarts实例
        var prov2sales =  [
    {
      "name": "\u4e0a\u6d77",
      "value": 337
    },
    {
      "name": "\u4e91\u5357",
      "value": 174
    },
    {
      "name": "\u5185\u8499\u53e4",
      "value": 75
    },
    {
      "name": "\u5317\u4eac",
      "value": 414
    },
    {
      "name": "\u53f0\u6e7e",
      "value": 41
    },
    {
      "name": "\u5409\u6797",
      "value": 93
    },
    {
      "name": "\u56db\u5ddd",
      "value": 538
    },
    {
      "name": "\u5929\u6d25",
      "value": 136
    },
    {
      "name": "\u5b81\u590f",
      "value": 74
    },
    {
      "name": "\u5b89\u5fbd",
      "value": 990
    },
    {
      "name": "\u5c71\u4e1c",
      "value": 758
    },
    {
      "name": "\u5c71\u897f",
      "value": 133
    },
    {
      "name": "\u5e7f\u4e1c",
      "value": 1350
    },
    {
      "name": "\u5e7f\u897f",
      "value": 252
    },
    {
      "name": "\u65b0\u7586",
      "value": 76
    },
    {
      "name": "\u6c5f\u82cf",
      "value": 631
    },
    {
      "name": "\u6c5f\u897f",
      "value": 935
    },
    {
      "name": "\u6cb3\u5317",
      "value": 318
    },
    {
      "name": "\u6cb3\u5357",
      "value": 1272
    },
    {
      "name": "\u6d59\u6c5f",
      "value": 1206
    },
    {
      "name": "\u6d77\u5357",
      "value": 168
    },
    {
      "name": "\u6e56\u5317",
      "value": 67103
    },
    {
      "name": "\u6e56\u5357",
      "value": 1018
    },
    {
      "name": "\u6fb3\u95e8",
      "value": 10
    },
    {
      "name": "\u7518\u8083",
      "value": 91
    },
    {
      "name": "\u798f\u5efa",
      "value": 296
    },
    {
      "name": "\u897f\u85cf",
      "value": 1
    },
    {
      "name": "\u8d35\u5dde",
      "value": 146
    },
    {
      "name": "\u8fbd\u5b81",
      "value": 122
    },
    {
      "name": "\u91cd\u5e86",
      "value": 576
    },
    {
      "name": "\u9655\u897f",
      "value": 245
    },
    {
      "name": "\u9752\u6d77",
      "value": 18
    },
    {
      "name": "\u9999\u6e2f",
      "value": 98
    },
    {
      "name": "\u9ed1\u9f99\u6c5f",
      "value": 480
    }
  ]
        var mapChart = echarts.init(document.getElementById('mapChart'));        // 指定图表的配置项和数据
		var mapChartOption = {

        title: {
            text: '中国COVID-19疫情地图',
			subtext: '大数据18C1',
			x:'center',
			y:'top',
			textAlign: 'center',
            textStyle:{
                    fontWeight:'bold',
                    fontFamily:'SimHei',
                    fontSize:16,
                    color:'red',
            }
        },
        tooltip:{
                formatter:'疫情省份：{b} <br/>累计确诊：{c}人'
            },
         visualMap: {
                min: 0,
                max: 30000,
                showLabel:true,
                text:['高','低'],
                pieces:[{
                        gte:10000,
                        label:'≥10000',
                        color:'#CD0000'
                    },{
                        gte:1000,
                        lt:10000,
                        label:'1000-9999',
                        color:'#FF0000'
                    },{
                        gte:100,
                        lt:1000,
                        label:'100-999',
                        color:'#FF6347'
                    },{
                        lt:100,
                        label:'≤100',
                        color:'#FFA07A'
                    },
                ],
            },
        series: [{
                name: '今日确诊',
                type: 'map',
                map:'china',
                data:prov2sales,
                label:{
                    show:true,
                    fontSize:8,
                },
                itemStyle:{
                    borderWidth:1.0
                },
         }],
    };

    mapChart.setOption(mapChartOption);
    window.addEventListener("resize", function() {
            mapChart.resize();
        });
</script>